@import url(./style.css);



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#ea7066; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dc3545; 
}


.rememberMe,
.gender,
.log {
    margin-bottom: 0;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 0;
}

.rememberMe-input,
.gender-input,
.log-input {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

.gender:before {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.rememberMe:before,
.log::before {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.rememberMe:before,
.gender:before,
.log::before {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #adb5bd;
    width: 100%;
    height: 100%;
    position: static !important;
}

.rememberMe-input:checked ~ .rememberMe:before,
.gender-input:checked ~ .gender:before,
.log-input:checked ~ .log::before {
    border-color: #fd3741;
    background: #fd3741;
}

.rememberMe:after,
.gender:after,
.log:after {
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/70% 70%;
    width: 11px;
    height: 22px;
    position: absolute;
    left: 50% !important;
    right: auto !important;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rememberMe-input:checked ~ .rememberMe:after,
.gender-input:checked ~ .gender:after,
.log-input:checked ~ .log:after {
    content: "\2713";
    color: #fff;
}
.navbar { padding: 0;}
@media (min-width: 768px) {
    .navbar .navbar-brand {
        padding: 10px 0;
    }
}

/* sidebar*/
.sidebar {
	width: 250px; height: 100vh; position: fixed; top: 0; left: -255px; z-index: 999; 
	background: #333; color: #D5D8D9; transition: all .3s; box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
	text-align: left;
}

.sidebar.active { left: 0; }

.dismiss {
	width: 35px; height: 35px; position: absolute; top: 10px; right: 10px; transition: all .3s; 
	background: #444; border-radius: 4px; text-align: center; line-height: 35px; cursor: pointer;
}

.dismiss:hover, .dismiss:focus { background: #555; color: #D5D8D9; }




.sidebar ul.menu-elements { padding: 0; font-size: 25px; border-bottom: 1px solid #444; transition: all .3s; }

.sidebar ul li a {
	display: block; padding: 10px 20px;
	border: 0; color: #D5D8D9;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus { outline: 0; background: #555; color: #D5D8D9; }

.sidebar ul li a i { margin-right: 5px; }

.sidebar ul li.active > a, a[aria-expanded="true"] {
	background: #444;
	color: #D5D8D9;
}

.sidebar ul ul a { background: #444; padding-left: 30px; font-size: 14px; }

.sidebar ul ul li.active > a { background: #555; }

.sidebar a[data-toggle="collapse"] {
    position: relative;
}


.overlay {
    display: none; position: fixed;top:0px; width: 100vw; height: 100vh; 
    background: rgba(51, 51, 51, 0.7); z-index: 998; opacity: 0; transition: all .5s ease-in-out;
}

.overlay.active { display: block; opacity: 1; }

.open-menu { position: relative; left: 10px; z-index: 997; box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2); }

.open-menu.btn-customized,
.open-menu.btn-customized:hover, 
.open-menu.btn-customized:active, 
.open-menu.btn-customized:focus, 
.open-menu.btn-customized:active:focus, 
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}



@media (max-width: 575px) {
	
	h1, h2 { font-size: 22px; }
	h3 { font-size: 18px; }

}

.invalid-feedback {
    font-size: 100%;
}

.modal-open .modal{
    direction:ltr;
}
.modal-content{
    direction:rtl;
}